<mat-list role="list">

    <div class="profile-card">

        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTCXxfjxKYid5L_U9Nfkkd8BHQZPWkvmjJ8w&usqp=CAU" alt="No image">

        <h2>Kiri</h2>

        <h4>admin@pandora.com</h4>
    

    </div>

    <mat-divider></mat-divider>
    <h2 mat-subheader>Pages</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dash bpard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Institutions</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Students</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Placements</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Statistics</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Course</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">students</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Employee</a>




  </mat-list>
  
