<div class="container">
    <div class="row">
        <div class="col">
            <h1>
                <i class="fa-solid fa-user-plus"></i> &nbsp; Add Contact Page
            </h1>
            <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio
                aspernatur, magni laborum
                praesentium id ex fugit alias nihil et iste, iusto nostrum inventore ad quis impedit quas quos!
                Temporibus odit consectetur sapiente ab quis ipsum vitae maxime enim, quisquam dolores veniam doloribus
                nam totam fugit voluptatibus eaque, error distinctio magni!</p>
        </div>
    </div>

    <!-- <pre>
        {{contactName}}
    </pre> -->

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form class="border p-3 rounded">

                    <div class="mb-2">
                        <input name="id" [(ngModel)]="contact.id" placeholder="contact_id" type="text" class="form-control">
                    </div>

                    <div class="mb-2">
                        <input name="contactName" [(ngModel)]="contact.name" placeholder="Name" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="photo" [(ngModel)]="contact.photo" placeholder="Photo URL" type="text" class="form-control">
                    </div>
                   
                    <div class="mb-2">
                        <input name="email" [(ngModel)]="contact.email" placeholder="Email ID" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="mobile" [(ngModel)]="contact.mobile" placeholder="Mobile Number" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="company" [(ngModel)]="contact.company" placeholder="Company" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="title" [(ngModel)]="contact.title" placeholder="Title" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <select name="groupId" [(ngModel)]="contact.groupId" id="" class="form-control">
                            <option value="" selected hidden disabled>Select A Group</option>
                            <option  value="{{group.id}}"
                            *ngFor="let group of allGroups" >{{group.name}}</option>
                        </select>
                    </div>
                    <div class="mb-2">
                        <input (click)="addContact()" value="Create" type="button" class="btn btn-success">
                        <a routerLink="/" class="btn btn-warning ms-3">Close</a>
                    </div>
                </form>
            </div>
            <div class="col-md-4 ">
                <img [src]="contact.photo" class="contact_image align-items-center mt-2" 
                    alt="no image">
            </div>
        </div>
    </div>
</div>