<div class="container">
    <div class="row">
        <div class="col">
            <h1>
                <i class="fa-solid fa-user-plus"></i> &nbsp; Edit Contact Page
            </h1>
            <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio
                aspernatur, magni laborum
                praesentium id ex fugit alias nihil et iste, iusto nostrum inventore ad quis impedit quas quos!
                Temporibus odit consectetur sapiente ab quis ipsum vitae maxime enim, quisquam dolores veniam doloribus
                nam totam fugit voluptatibus eaque, error distinctio magni!</p>
        </div>
    </div>


</div>

<div class="container mt-4">
    <div class="row border border-danger rounded p-4 mb-5 align-items-center">
        <div class="col-md-4 ">
            <img width="150px" class="contact_image rounded align-items-center mt-2"
                [src]="contact.photo" alt="no image">
            <br> <a class="btn btn-warning align-items-center ms-3 mt-2 text-light" routerLink="/"><i
                    class="fa-solid fa-circle-left"></i> &nbsp; Go Back</a>
        </div>
        <div class="col-md-8">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Name : {{contact.name}}</li>
                <li class="list-group-item">Email: {{contact.email}}</li>
                <li class="list-group-item">Mobile :{{contact.mobile}}</li>
                <li class="list-group-item">Company:{{contact.company}} </li>
                <li class="list-group-item">Title: {{contact.title}}</li>
                <li class="list-group-item">Group:{{groupName}} </li>

            </ul>
        </div>
    </div>

</div>